
/* Default (ljus) */
/*body {
  background: #ffffff;
  color: #000000;
}

/* När dark-mode-klassen är aktiv */
/*body.dark {
  background: #121212;
  color: #ffffff;

}*/

body {

   background: linear-gradient(#fbcfcf, #fb9898) no-repeat;
   background-size: 100% 200%;

}
 .bounce-in {
    background-color : white;
    width : 300px;
    height : 300px;
    text-align: center;
    padding: 30px;
    margin-left : 70px;
    
   
 }

h1 {
    color:black;
    font-size: xxx-large;
}

#inputTodo{
    background-color :white;
    width : 250px;
    height:20px;
    border : 2px, solid, blue;
    border-radius: 1px;
    font-size: 15px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
} 
#todolist {
  color: black;
  list-style-type: none;
  font-size: 20px; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#addTodoButton {
    background-color: white;
    color : black;
    font-size: 18px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    height: 20px;
    border: 1px, solid, black; 
    border-radius: 1px;
}

.completed {
    text-decoration: line-through;
    color: lightgray;   
    font-size: 20px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.trashcan{
    font-size: large;
    margin-left: 10px;
    color: #252424;  
}
small {
  color: red;

}